body {
  -webkit-user-select: none;
}

#about-container {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

#about-container h2 {
  margin: 5px 0;
}

#product-description {
  -webkit-margin-start: 10px;
}

#version-container {
  color: #999;
  padding-bottom: 5px;
  display: block;
}

#copyright-container {
  margin-top: 60px;
  color: #999;
}

.desc {
  margin: 3px 0 0 18px;
  color: #999;
}

.chrome-bootstrap .frame .view {
  -webkit-margin-start: 170px
}

#success_message {
  margin-top: 10px;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#success_message.visible {
  opacity: 1;
}

.social-buttons {
  margin-left: 23px;
}

.chrome-bootstrap a {
  text-decoration: none;
}
.chrome-bootstrap a:hover {
  text-decoration: underline;
}

#response_headers input[type="text"] {
  width: 200px;
}

#dialog input[type="text"] {
  width: 270px;
}

.overlay.transparent {
  z-index: -1;
}
#white_list input + a {
  margin-left: 10px;
}

#white_list .row:hover a {
  cursor: pointer;
}
.navigation {
  margin-left: 10px;
}
.mainview {
  margin-left: 180px;
}